/****** Object:  ForeignKey [FK_PRODUTOS_CATEGORIAS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CATEGORIAS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS]'))
ALTER TABLE [dbo].[PRODUTOS] DROP CONSTRAINT [FK_PRODUTOS_CATEGORIAS]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_PRODUTOS1]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_PRODUTOS1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES]'))
ALTER TABLE [dbo].[PRODUTOS_CORES] DROP CONSTRAINT [FK_PRODUTOS_CORES_PRODUTOS1]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_IMAGENS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_IMAGENS] DROP CONSTRAINT [FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_TAMANHOS] DROP CONSTRAINT [FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_TAMANHOS] DROP CONSTRAINT [FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]
GO
/****** Object:  Table [dbo].[PRODUTOS_CORES_IMAGENS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_IMAGENS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUTOS_CORES_IMAGENS]
GO
/****** Object:  Table [dbo].[PRODUTOS_CORES_TAMANHOS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUTOS_CORES_TAMANHOS]
GO
/****** Object:  Table [dbo].[PRODUTOS_CORES]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUTOS_CORES]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUTOS]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CATEGORIAS]') AND type in (N'U'))
DROP TABLE [dbo].[CATEGORIAS]
GO
/****** Object:  Table [dbo].[TAMANHOS]    Script Date: 11/27/2011 21:42:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAMANHOS]') AND type in (N'U'))
DROP TABLE [dbo].[TAMANHOS]
GO
/****** Object:  Table [dbo].[TAMANHOS]    Script Date: 11/27/2011 21:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAMANHOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TAMANHOS](
	[TAMANHO__ID] [int] NOT NULL,
	[TAMANHO__NOME] [varchar](50) COLLATE Latin1_General_CI_AS NOT NULL,
 CONSTRAINT [PK_TAMANHOS] PRIMARY KEY CLUSTERED 
(
	[TAMANHO__ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[TAMANHOS] ([TAMANHO__ID], [TAMANHO__NOME]) VALUES (33, N'33')
INSERT [dbo].[TAMANHOS] ([TAMANHO__ID], [TAMANHO__NOME]) VALUES (34, N'34')
INSERT [dbo].[TAMANHOS] ([TAMANHO__ID], [TAMANHO__NOME]) VALUES (35, N'35')
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 11/27/2011 21:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CATEGORIAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CATEGORIAS](
	[CATEGORIA__ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIA__NOME] [varchar](50) COLLATE Latin1_General_CI_AS NOT NULL,
	[CATEGORIA__DESCRICAO] [text] COLLATE Latin1_General_CI_AS NULL,
	[CATEGORIA__WEBVIEW_URL_AMIGAVEL] [varchar](50) COLLATE Latin1_General_CI_AS NOT NULL,
	[CATEGORIA__WEBVIEW_DICA] [nchar](10) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[CATEGORIA__ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON
INSERT [dbo].[CATEGORIAS] ([CATEGORIA__ID], [CATEGORIA__NOME], [CATEGORIA__DESCRICAO], [CATEGORIA__WEBVIEW_URL_AMIGAVEL], [CATEGORIA__WEBVIEW_DICA]) VALUES (1, N'Anabela', N'Anabela', N'anabela', N'Anabela   ')
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 11/27/2011 21:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUTOS](
	[PRODUTO__ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIA__ID] [int] NOT NULL,
	[PRODUTO__PRECO_NORMAL] [money] NULL,
	[PRODUTO__PRECO_PROMOCIONAL] [money] NULL,
	[PRODUTO__PARCELAS_QTDE] [int] NULL,
	[PRODUTO__WEBVIEW_DESCRICAO_PRODUTO] [text] COLLATE Latin1_General_CI_AS NULL,
	[PRODUTO_ESTA_EM_PROMOCAO] [bit] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[PRODUTO__ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[PRODUTOS] ON
INSERT [dbo].[PRODUTOS] ([PRODUTO__ID], [CATEGORIA__ID], [PRODUTO__PRECO_NORMAL], [PRODUTO__PRECO_PROMOCIONAL], [PRODUTO__PARCELAS_QTDE], [PRODUTO__WEBVIEW_DESCRICAO_PRODUTO], [PRODUTO_ESTA_EM_PROMOCAO]) VALUES (1, 1, 109.9900, 90.0000, 3, N'Anabela Ferrete', NULL)
SET IDENTITY_INSERT [dbo].[PRODUTOS] OFF
/****** Object:  Table [dbo].[PRODUTOS_CORES]    Script Date: 11/27/2011 21:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUTOS_CORES](
	[PRODUTO_COR__ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUTO_COR__NOME] [varchar](50) COLLATE Latin1_General_CI_AS NOT NULL,
	[PRODUTO_COR__WEBVIEW_URL_AMIGAVEL] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[PRODUTO__ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUTOS_CORES] PRIMARY KEY CLUSTERED 
(
	[PRODUTO_COR__ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[PRODUTOS_CORES] ON
INSERT [dbo].[PRODUTOS_CORES] ([PRODUTO_COR__ID], [PRODUTO_COR__NOME], [PRODUTO_COR__WEBVIEW_URL_AMIGAVEL], [PRODUTO__ID]) VALUES (1, N'Anabela Ferrete Bege', N'anabela-ferrete-bege', 1)
INSERT [dbo].[PRODUTOS_CORES] ([PRODUTO_COR__ID], [PRODUTO_COR__NOME], [PRODUTO_COR__WEBVIEW_URL_AMIGAVEL], [PRODUTO__ID]) VALUES (3, N'Anabela Ferrete Preto', N'anabela-ferrete-preto', 1)
SET IDENTITY_INSERT [dbo].[PRODUTOS_CORES] OFF
/****** Object:  Table [dbo].[PRODUTOS_CORES_TAMANHOS]    Script Date: 11/27/2011 21:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUTOS_CORES_TAMANHOS](
	[PRODUTO_COR__ID] [int] NOT NULL,
	[TAMANHO__ID] [int] NOT NULL,
	[PRODUTO_COR_TAMANHO__QTDE_DISPONIVEL_VENDA] [int] NOT NULL,
 CONSTRAINT [PK_PRODUTOS_CORES_TAMANHOS_1] PRIMARY KEY CLUSTERED 
(
	[PRODUTO_COR__ID] ASC,
	[TAMANHO__ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[PRODUTOS_CORES_TAMANHOS] ([PRODUTO_COR__ID], [TAMANHO__ID], [PRODUTO_COR_TAMANHO__QTDE_DISPONIVEL_VENDA]) VALUES (1, 35, 10)
INSERT [dbo].[PRODUTOS_CORES_TAMANHOS] ([PRODUTO_COR__ID], [TAMANHO__ID], [PRODUTO_COR_TAMANHO__QTDE_DISPONIVEL_VENDA]) VALUES (1, 36, 11)
INSERT [dbo].[PRODUTOS_CORES_TAMANHOS] ([PRODUTO_COR__ID], [TAMANHO__ID], [PRODUTO_COR_TAMANHO__QTDE_DISPONIVEL_VENDA]) VALUES (1, 37, 12)
/****** Object:  Table [dbo].[PRODUTOS_CORES_IMAGENS]    Script Date: 11/27/2011 21:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_IMAGENS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUTOS_CORES_IMAGENS](
	[PRODUTO_COR__ID] [int] NOT NULL,
	[PRODUTO_COR_IMAGEM__PERSPECTIVA] [int] NOT NULL,
	[PRODUTO_COR_IMAGEM__TAMANHO] [char](1) COLLATE Latin1_General_CI_AS NOT NULL,
	[PRODUTO_COR_IMAGEM__NOMEARQUIVO] [varchar](255) COLLATE Latin1_General_CI_AS NOT NULL,
 CONSTRAINT [PK_PRODUTOS_CORES_IMAGENS_1] PRIMARY KEY CLUSTERED 
(
	[PRODUTO_COR__ID] ASC,
	[PRODUTO_COR_IMAGEM__PERSPECTIVA] ASC,
	[PRODUTO_COR_IMAGEM__TAMANHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[PRODUTOS_CORES_IMAGENS] ([PRODUTO_COR__ID], [PRODUTO_COR_IMAGEM__PERSPECTIVA], [PRODUTO_COR_IMAGEM__TAMANHO], [PRODUTO_COR_IMAGEM__NOMEARQUIVO]) VALUES (1, 1, N'P', N'scarpin-feminino-ferrette-branco-site_produtos-1792023476_pequena.jpg')
/****** Object:  ForeignKey [FK_PRODUTOS_CATEGORIAS]    Script Date: 11/27/2011 21:42:44 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CATEGORIAS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS]'))
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_CATEGORIAS] FOREIGN KEY([CATEGORIA__ID])
REFERENCES [dbo].[CATEGORIAS] ([CATEGORIA__ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CATEGORIAS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS]'))
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_CATEGORIAS]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_PRODUTOS1]    Script Date: 11/27/2011 21:42:44 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_PRODUTOS1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES]'))
ALTER TABLE [dbo].[PRODUTOS_CORES]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_CORES_PRODUTOS1] FOREIGN KEY([PRODUTO__ID])
REFERENCES [dbo].[PRODUTOS] ([PRODUTO__ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_PRODUTOS1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES]'))
ALTER TABLE [dbo].[PRODUTOS_CORES] CHECK CONSTRAINT [FK_PRODUTOS_CORES_PRODUTOS1]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]    Script Date: 11/27/2011 21:42:44 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_IMAGENS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_IMAGENS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES] FOREIGN KEY([PRODUTO_COR__ID])
REFERENCES [dbo].[PRODUTOS_CORES] ([PRODUTO_COR__ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_IMAGENS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_IMAGENS] CHECK CONSTRAINT [FK_PRODUTOS_CORES_IMAGENS_PRODUTOS_CORES]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]    Script Date: 11/27/2011 21:42:44 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_TAMANHOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES] FOREIGN KEY([PRODUTO_COR__ID])
REFERENCES [dbo].[PRODUTOS_CORES] ([PRODUTO_COR__ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_TAMANHOS] CHECK CONSTRAINT [FK_PRODUTOS_CORES_TAMANHOS_PRODUTOS_CORES]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]    Script Date: 11/27/2011 21:42:44 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_TAMANHOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS] FOREIGN KEY([TAMANHO__ID])
REFERENCES [dbo].[TAMANHOS] ([TAMANHO__ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUTOS_CORES_TAMANHOS]'))
ALTER TABLE [dbo].[PRODUTOS_CORES_TAMANHOS] CHECK CONSTRAINT [FK_PRODUTOS_CORES_TAMANHOS_TAMANHOS]
GO
